# Python caches & build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.mypy_cache/

# Environments (Secrets & virtualenvs)
.env
.venv
env/
venv/
ENV/

# Database files
*.db
*.sqlite
*.sqlite3
*.sqlite3-journal

# Frontend dependencies and builds
node_modules/
**/node_modules/
frontend/dist/
.eslintcache

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.env
*.alembic
*.__pycache__
.antigravity/
