POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sms_db
POSTGRES_HOST=aiden-host
POSTGRES_PORT=5432

# SQLAlchemy async URL
DATABASE_URL=postgresql+asyncpg://:@:/

# JWT settings
SECRET_KEY=super-secret-key-change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
